<div class="">
  <img src="" alt="">
  <div class="content">
    <div class="new">
      <%= link_to 'New question', new_question_path, class: 'btn btn-primary' %>
    </div>
  <h1>Listing questions</h1>
    <%=render @questions%>
</div>
</div>
