<p>
<%= comment.text%>
</p>
<span>
Author: <%=comment.user.email%>
</span>
<div class="text-right">
  <small><%=comment.created_at%></small>
</div>
<%= link_to 'Destroy Comment', comment,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<hr>
