<h3>
Author: <%=comment.user.email%>
</h3>
<h4>
<%= comment.text%>
</h4>

<div class="text-right">
  <small><%=comment.created_at.strftime("%d %a, %Y %H:%M")%></small>
</div>
<%= link_to comment_path (comment),
               method: :delete,
               data: { confirm: 'Are you sure?' } do %>
               <img src="../destroy.png" alt="destroy" width="32px">

               <%end%>
<hr>
