<%= form_with model: @comment, url:comments_path, local: true do |form| %>
<%= f.hidden_field :question_id, value: @question.id%>

<div class="form-grup">
  <p>
    <%= form.text_area :text,class:"form-control" %>
  </p>
</div>
  <p>
    <%= f.submit :comment, class:"btn btn-success"%>
  </p>

<% end %>
