//font-family: 'Bangers', cursive;
//font-family: 'Fondamento', cursive;
//font-family: 'Modak', cursive;
//font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
$white: #FFFFFF;
$grey: #F5F8FB;
$black: #151B26;
$green: #21C87A;
$purple:  #92a8d1;
$light-blue: #87bdd8;
$blue: #36486b;


$primary-font: 'Roboto', sans-serif;
$logo-font: 'Fondamento', cursive;

$margin: 0px, 200px, 0px, 200px;



body{

  width: 100%;
  background-color:$black;
  font-family: $primary-font;
  color: $white;


}
.main-content{
  margin: 0px 250px 0px 250px;
  justify-content: center;
  @media(max-width: 1440px){
    margin: 0px 150px 0px 150px;
  }
  @media(max-width: 768px){
    margin: 0px 70px 0px 70px;
  }
  @media(max-width: 375px){
    margin: 0px 0px 0px 0px;
  }

}
header{
  width: 100%;
  height: 800px;
  @media(max-width: 1440px){
    height: 660px;
  }
  @media(max-width: 768px){
    height: 450px
  }
  @media(max-width: 375px){
    height: 50px;
  }
header{

  .photo{
    background-image: url("/bg1.png");
    background-size: contain;
    background-repeat: no-repeat;
    @media(max-width: 375px){
      height: 50px;
    }
     }
     h1{
       font-family: $logo-font;
       padding-top: 5%;
       padding-right: 250px;
       font-size: 400px;
       display: flex;
       justify-content: flex-end;
       @media(max-width: 1440px){
       font-size: 250px;}
       @media(max-width: 768px){
         font-size: 100px;
         padding-right: 100px;
         padding-top: 70px;
       }
       @media(max-width: 375px){
         display: none;
       }
     }
     .nav-link {
       display: flex;
       justify-content: flex-end;
       font-family: 'Raleway', sans-serif;
       text-transform: uppercase;
       text-decoration: none;
       font-size: 20px;

       color: $white;
       @media(max-width: 768px){
         font-size: 20px;
         background-color:#151B26;
         flex-direction: column;
       }
       @media(max-width: 375px){
        font-size: 15px;
       }


     }
     p{
       font-size: 30px;
       color: $white;
       padding-bottom: 100px;
       display: flex;
       justify-content: flex-end;
       padding-right: 400px;
       font-family: $logo-font;
       @media(max-width: 768px){
         font-size: 15px;
         padding-right: 200px;
       }
       @media(max-width: 375px){
         display: none;
       }
     }

  }
}

.nav-link:active{
  color:$grey;
  text-decoration: underline;
}
.nav-link:hover{
  color: red;
}
.nav-link{
  display: flex;
  justify-content: flex-end;
}

.wrapper{
 padding: 30px 30px;
   h1{
     text-align: center;
     mix-blend-mode: overlay;
     font-size: 50px;
     position: center center;
     justify-content: center;
     @media(max-width: 375px){
       font-size: 15px;
     }
   }

}


.wrapper{

   min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

.content{
  margin-top: 50px;
}



/*Card*/
.card{
  box-shadow: 2px;
  h3{
  @media(max-width: 375px){
    font-size: 20px;
  }
  @media(max-width: 768px){
    font-size: 30px;
  }}
  h5{
    @media(max-width: 375px){
      font-size: 15px;
    }
    @media(max-width: 768px){
      font-size: 20px;
    }
  }
}

.card-header{
  background-color: #bedbe6;

}

.row{
  @media(max-width: 375px){
    display: flex;
    flex-direction: column;
  }
}

/* Sixth Button */
.button {
  display: inline-flex;
  height: 35px;
  width: 145px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @media(max-width: 375px){
    height: 25px;
    width: 50px;
    font-size: 5px;
  }
}

#button-6 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all .45s ease-Out;
  text-decoration: none;
}


#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all .5s ease-Out;
}

#button-6:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #BFC0C0;
  transform: rotate(80deg);
}
#button-6 span .fav .span{
  position: relative;
  transition: all .45s ease-Out;
  text-decoration: none;
}

#button-6:hover span .fav .span{
  color: #3b465e;

}

.social {
  padding-right: 50px;
    img{
  width: 45px;
  height: 45px;
  margin-right: 35px;
  }
  @media(max-width: 375px){
    display: none;
  }
}

.nickname{
  font-family: 'Raleway', sans-serif;

  font-size: 35px;
    strong{
      text-transform: uppercase;
    }
    em{
      font-size: 25px;
    }
}

.navigation{
  vertical-align: middle;
  .icon{
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-left: 10px;
    @media(max-width: 375px){
      width: 20px;
      height: 20px;
    }
  }

  .icon-1{
    display: flex;

  }
  .fav{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    text-align: center;

  }
}


.footer {
  margin-top: 125px;
  text-align: center;
  height: 250px;
  display: flex;
  justify-content: center;
  letter-spacing: 50px;
  @media(max-width: 375px){
    height: 50px;
  }
    img{
      padding-right: 70px;
      @media(max-width: 375px){
        width: 45px;
        height: 45px;
        padding-right: 10px;
      }
    }

}
.foot{
  color: #3b465e;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  @media(max-width: 375px){
    font-size: 10px;
    text-align: center;
    padding: 0;
  }
}
$size: 100px;
$speed: 1.5s;
$color: rgb(random(200), random(200), random(200));



.motionblur {
  position: relative;
  width: $size * 3;
  height: $size;
  animation: slide $speed cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate;
}

.box {
  position: absolute;
  left: calc(50% - #{$size / 2});
  width: $size;
  height: 100%;
  background: $color;
  animation: slide $speed cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate;

  &::before {
    content: '';
    position: absolute;
    width: $size * 2;
    height: 100%;
    background: linear-gradient(90deg, rgba($color, 0.5) 50%, rgba($color, 0) 100%);
    transform-origin: 0 0;
    animation: scale $speed * 2 cubic-bezier(0.445, 0.050, 0.550, 0.950) -$speed infinite;
  }

  &::after {
    content: '';
    position: absolute;
    left: -$size;
    width: $size * 2;
    height: 100%;
    background: linear-gradient(90deg, rgba($color, 0) 0%, rgba($color, 0.5) 50%);
    transform-origin: 100% 0;
    animation: scale $speed * 2 cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite;
  }
}

@keyframes scale {
  0% {
    transform: scale3d(0.5, 1, 1);
  }

  30% {
    transform: scale3d(1.3, 1, 1);
  }

  55% {
    transform: scale3d(0.5, 1, 1);
  }

  100% {
    transform: scale3d(0.5, 1, 1);
  }
}

@keyframes slide {
  0% {
    transform: translate3d(-$size * 1.5, 0, 0);
  }

  100% {
    transform: translate3d($size * 1.5, 0, 0);
  }
}
