//font-family: 'Bangers', cursive;
//font-family: 'Fondamento', cursive;
//font-family: 'Modak', cursive;
//font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
$white: #FFFFFF;
$grey: #F5F8FB;
$black: #151B26;
$green: #21C87A;
$purple:  #92a8d1;
$light-blue: #87bdd8;
$blue: #36486b;


$primary-font: 'Roboto', sans-serif;
$logo-font: 'Fondamento', cursive;

$margin: 0px, 200px, 0px, 200px;

@media(max-width: 800px){
  background-color:$blue;
  background-image: none;
  margin: 0px 100px 0px 100px;
}


body{

  width: 100%;
  background-color:$black;
  font-family: $primary-font;
  color: $white;
  @media(max-width: 800px){
    background-color:$blue;
    background-image: none;
    margin: 0px 20px 0px 20px;
  }

}
.main-content{
  margin: 0px 300px 0px 300px;
  justify-content: center;


}
header{
  width: 100%;
  height: 800px;

  .photo{
    background-image: url("/bg1.png");
    background-size: contain;
    background-repeat: no-repeat;

     h1{
       font-family: $logo-font;
       padding-top: 5%;
       padding-right: 250px;
       font-size: 400px;
       display: flex;
       justify-content: flex-end;
     }
     nav{
       display: flex;
       justify-content: flex-end;
       font-family: 'Raleway', sans-serif;
       text-transform: uppercase;
       text-decoration: none;
       font-size: 20px;
       color: $white;
     }
     p{
       font-size: 30px;
       color: $white;
       padding-bottom: 100px;
       display: flex;
       justify-content: flex-end;
       padding-right: 400px;
       font-family: $logo-font;
     }

  }
}

.wrapper{
 padding: 30px 30px;

}

.wrapper h1{
  text-align: center;
  mix-blend-mode: overlay;
  font-size: 50px;
  position: center center;
  justify-content: center;
}



.wrapper{

   min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

.content{
  margin-top: 50px;
}

/* Sixth Button */
.button {
  display: inline-flex;
  height: 35px;
  width: 145px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#button-6 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all .45s ease-Out;
  text-decoration: none;
}


#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all .5s ease-Out;
}

#button-6:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #BFC0C0;
  transform: rotate(80deg);
}
#button-6 span .fav{
  position: relative;
  transition: all .45s ease-Out;
  text-decoration: none;
}

#button-6:hover span .fav{
  color: #3b465e;

}

.social {
  padding-right: 50px;
    img{
  width: 45px;
  height: 45px;
  margin-right: 35px;
  }
}


.navigation{

  .icon{
    float: right;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-left: 10px;

  }

  .icon-1{
    display: flex;

  }
  .fav{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    text-align: center;

  }
}


.footer {
  margin-top: 125px;
  text-align: center;
  height: 250px;
  display: flex;
  justify-content: center;
  letter-spacing: 50px;
    img{
      padding-right: 70px;
    }

}
.foot{
  color: #3b465e;
  padding-right: 50px;
  display: flex;
  justify-content: center;
}
