<div class="user mt-5">

  <h2 class="nickname"><strong><%=@user.nickname%></strong><br><em>(<%=@user.email%>)</em></h2>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>My Questions</h3>
        <%= render @questions%>
      </div>
      <div class="col">
        <h3>Favourite Questions</h3>
        <%= render @favourite_questions%>
      </div>
    </div>
  </div>



</div>
