<div class="photo">
<%= render "layouts/navbar"%>
  <h1>ASK</h1>
  <p>Ask - The Best</p>
  <div class="social">
    <a href="https://www.facebook.com/">
    <img src="../facebook.png" alt="#">
    </a>
    <a href="https://www.instagram.com/">
      <img src="../instagram.png" alt="#">
    </a>
    <a href="https://web.telegram.org/#/login">
    <img src="../telegram.png" alt="#">
    </a>
  </div>
</div>
<br>
