<nav class="navbar">
  <a class="navbar-brand" href="#">
    <p class="logo">ASK</p>
  </a>
  <%= link_to "Questions", root_path, class:"navbar-brand" %>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">New Question</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

  <div class="nav justify-content-end">
    <% unless user_signed_in?%>
    <li class="nav-item nt-2 nt-lg-0">
      <%= link_to "Log In", new_user_session_path, class:"nav-link" %>
    </li>

    <%else%>
    <li class="nav-item d-flex align-items-center">
      <%=link_to current_user.email, profile_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
    </li>
    <%end%>
  </div>

</nav>
